/*
** General Styles for HTML tags
*/

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #666666;
}

html,
body,
.wrapper {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #232323;
  font-weight: normal;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  letter-spacing: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 15px;
}

h5,
h5 {
  margin-bottom: 10px;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
}

label {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 5px;
  max-width: 100%;
}

a,
.btn,
button {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  outline: medium none;
}

a img,
iframe {
  border: none;
}

p {
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #eee;
}

pre {
  display: block;
  margin: 0 0 30px;
  padding: 9.5px;
  word-wrap: break-word;
  word-break: break-all;
  color: #333;
  border: 1px solid #ededed;
  border-radius: inherit;
  background-color: #f9f9f9;
  font-size: 13px;
  line-height: 1.42857143;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: inherit;
}

ul {
  margin: 0;
  list-style-type: none;
}

a,
a:active,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
  color: #232323;
}

a:hover {
  color: #232323;
}

a {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

b,
strong {
  font-weight: 900;
}

.btn.active,
.btn:active {
  background-image: inherit !important;
}

.btn.focus,
.btn:active:focus,
.btn:active:hover,
.btn:focus,
.btn:hover {
  outline: 0;
}

.btn.circle {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.btn.active,
.btn:active {
  outline: 0;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

input {
  border: 1px solid #e7e7e7;
  border-radius: inherit;
  box-shadow: inherit;
  min-height: 50px;
}

/* Default CSS */
.container-half {
  margin: 0 auto;
  width: 60%;
  padding: 0 15px;
}

.container-full {
  margin: 0 auto;
  width: 80%;
  padding: 0 15px;
}

.bg-cover {
  background-position: center center;
  background-size: cover;
}

.bg-bottom-center {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.bg-contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-fixed {
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

.bg-gray {
  background-color: #f4f7fc;
}

.bg-theme-small {
  background-color: #edf5ff;
}

.bg-light {
  background-color: #ffffff;
}

.bg-theme {
  background-color: #0cb8b6;
}

.bg-light-gradient {
  background: linear-gradient(
    90deg,
    rgba(244, 247, 252, 1) 36%,
    rgba(255, 255, 255, 1) 100%
  );
}

.gradient-bg {
  background-image: linear-gradient(
    90deg,
    rgba(2, 59, 166, 1) 0%,
    rgba(67, 126, 235, 1) 100%
  );
  background-color: #0cb8b6;
}

.container-md {
  width: 90%;
  margin: auto;
  position: relative;
}

.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6,
.text-light p,
.text-light a {
  color: #ffffff;
}

.shadow {
  position: relative;
  z-index: 1;
}

.shadow.dark::after {
  background: #000000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.dark-hard::after {
  background: #1d2024 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.light::after {
  background: #ffffff none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.theme::after {
  background: #0cb8b6 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.theme-hard::after {
  background: #0cb8b6 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.half::after {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 60%)
    repeat scroll 0 0;
  content: "";
  height: 100%;
  right: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.default-padding,
.default-padding-top,
.default-padding-bottom {
  position: relative;
  z-index: 1;
}

.default-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.default-padding-top {
  padding-top: 120px;
}

.default-padding-bottom {
  padding-bottom: 120px;
}

.default-padding.bottom-less {
  padding-top: 120px;
  padding-bottom: 90px;
}

.default-padding-bottom.bottom-less {
  padding-bottom: 90px;
}

.default-padding-top.bottom-less {
  margin-bottom: -30px;
}

.default-padding.bottom-30 {
  padding-top: 120px;
  padding-bottom: 30px;
}

.default-padding.bottom-20 {
  padding-top: 120px;
  padding-bottom: 20px;
}

.padding-xl {
  padding-top: 180px;
  padding-bottom: 180px;
}

.top-border {
  border-top: 1px solid #e7e7e7;
}

.align-center {
  align-items: center;
}

.btn {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  letter-spacing: 1px;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  box-shadow: inherit;
  border: 2px solid transparent;
}

.btn-md {
  padding: 15px 45px;
}

.btn-sm {
  padding: 13px 40px;
  font-size: 12px;
}

.btn.btn-sm-pro {
  font-size: 10px;
  font-weight: 600;
  margin-top: 5px;
  padding: 4px 35px;
  display: inline-block;
}

.btn-border-light {
  border: 2px solid #ffffff;
}

.btn.btn-sm-pro.btn-border-light:hover,
.btn.btn-sm-pro.btn-border-light:focus {
  background-color: #ffffff;
  color: #232323;
  border: 2px solid #ffffff;
}

.btn-dark {
  background-color: #232323;
  color: #ffffff;
  border: 2px solid #232323;
}

.btn-dark.border {
  background-color: transparent;
  color: #232323;
  border: 2px solid #232323;
}

.btn-dark.border:hover {
  background-color: #232323;
  color: #ffffff !important;
  border: 2px solid #232323;
}

.btn-gray.border {
  background-color: transparent;
  color: #0cb8b6;
  border: 2px solid #e7e7e7;
}

.btn-gray.border:hover {
  background-color: #0cb8b6;
  color: #ffffff !important;
  border: 2px solid #0cb8b6;
}

.btn-gray.effect {
  background: #fafafa;
  border: 1px solid #e7e7e7;
}

.btn.btn-light {
  background: #ffffff none repeat scroll 0 0;
  color: #232323;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn.btn-light::after {
  background: linear-gradient(
    90deg,
    rgba(12, 184, 182, 1) 0%,
    rgba(11, 145, 144, 1) 75%
  );
  transition: all 0.35s ease-in-out;
  position: absolute;
  left: -100%;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
}

.btn.btn-light:hover {
  color: #ffffff;
}

.btn.btn-light.effect:hover::after {
  left: 0;
}

.btn.btn-light.border {
  background: transparent;
  border: 2px solid #ffffff !important;
  color: #ffffff;
}

.btn.btn-light.border:hover {
  background: #ffffff none repeat scroll 0 0 !important;
  border: 2px solid #ffffff !important;
  color: #232323 !important;
}

.btn-theme-v2 {
  color: #ffffff;
}

.btn-theme-v2::after {
  background: linear-gradient(
    90deg,
    rgba(249, 87, 89, 1) 0%,
    rgba(233, 12, 15, 1) 75%
  );
  transition: all 0.35s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 3px;
}

.btn-theme-v2:hover {
  color: #ffffff;
}

.btn-standard {
  display: inline-block;
  text-align: center;
  color: #0cb8b6;
  position: relative;
  margin-top: 15px;
  border: 1px solid #e7e7e7;
  padding: 10px 30px;
  text-transform: capitalize;
  border-radius: 30px;
  font-weight: 800;
}

.btn-standard.md {
  padding: 13px 45px;
}

.btn-standard i {
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  color: #0cb8b6;
  font-size: 15px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px #cccccc;
  z-index: 1;
  margin-right: 5px;
  background: #ffffff;
}

.bg-theme .btn-standard:hover,
.bg-dark .btn-standard:hover,
.bg-gradient .btn-standard:hover,
.shadow .btn-standard:hover {
  background: #ffffff;
  color: #0cb8b6;
}

.btn-dark:hover,
.btn-dark:focus {
  color: #232323 !important;
  background: transparent;
}

.bg-dark {
  background: #111d30 none repeat scroll 0 0 !important;
}

.bg-gradient {
  background-image: linear-gradient(
    90deg,
    rgba(2, 59, 166, 1) 0%,
    rgba(67, 126, 235, 1) 100%
  );
  background-color: #0cb8b6;
}

.bg-gradient-light {
  background-image: linear-gradient(
    90deg,
    rgba(244, 247, 252, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.bg-gradient-mixed {
  background: linear-gradient(to bottom, #e1fbfb 0%, #0cb8b6 100%);
}

.btn-theme {
  background-color: #0cb8b6;
  color: #ffffff !important;
  border: 2px solid #0cb8b6;
}

.btn-theme.border {
  background-color: transparent;
  color: #0cb8b6 !important;
  border: 2px solid #0cb8b6;
}

.btn-theme.border:hover {
  background-color: #0cb8b6;
  color: #ffffff !important;
  border: 2px solid #0cb8b6;
}

.btn-theme.effect:hover,
.btn-theme.effect:focus {
  background: #0cb8b6 none repeat scroll 0 0;
  border: 2px solid #0cb8b6;
  color: #ffffff;
}

.btn.btn-sm-lm {
  font-size: 12px;
  padding: 4px 35px;
}

.bg-theme a.btn-theme.btn:hover,
.bg-theme a.btn-theme.btn:focus {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn i {
  margin-left: 2px;
}

.btn.left-icon i {
  margin-left: 0;
  margin-right: 3px;
}

/* Gradient Button */

.btn-gradient,
.btn-gradient:focus {
  color: #ffffff !important;
  transition: all 500ms ease;
  border-radius: 3px;
}

.btn-gradient::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(12, 184, 182, 1) 0%,
    rgba(11, 145, 144, 1) 75%
  );
  z-index: -1;
  border-radius: 3px;
}

.inc-icon i {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 28px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 10px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

.btn-gradient {
  padding: 15px 40px;
}

.btn-gradient.btn-sm {
  padding: 10px 30px;
}

.btn.btn-transparent.border {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.btn.btn-transparent.border:hover {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background: rgba(255, 255, 255, 0.07);
  color: #ffffff !important;
}

.btn-simple.md {
  padding: 15px 60px;
}

.btn-simple.light {
  background: #ffffff;
}

.btn-simple {
  display: inline-block;
  border: 2px solid #e7e7e7;
  padding: 13px 45px;
  color: #0cb8b6;
  font-weight: 600;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-simple.circle {
  border-radius: 30px;
}

.btn-simple:after {
  background: linear-gradient(
    90deg,
    rgba(12, 184, 182, 1) 0%,
    rgba(11, 145, 144, 1) 75%
  );
  color: #ffffff;
  border-color: transparent;
  position: absolute;
  left: -100%;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.25s ease-in-out;
}

.btn-simple i {
  margin-left: 1px;
  position: relative;
  top: 1px;
}

.btn-simple:hover {
  color: #ffffff;
  border: 2px solid transparent;
}

.btn-simple:hover::after {
  left: 0;
}

.bg-fixed {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.bg-cover {
  background-position: center center;
  background-size: cover;
}

.container-full {
  padding: 0 15px;
  width: 90%;
}

.container-medium {
  padding: 0 15px;
  margin: auto;
  max-width: 1400px;
}

@media (min-width: 576px) {
  .container-medium {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-medium {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-medium {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-medium {
    max-width: 1400px;
    width: 80%;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.less-margin {
  margin: 0;
}

header {
  position: relative;
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a {
  position: relative;
  z-index: 1;
  margin-left: 3px;
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background .attr-nav ul li a {
  border: medium none;
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: -2px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

header
  nav.navbar.border.bootsnav.navbar-fixed.no-background
  ul
  li
  a.active::after,
header
  nav.navbar.border.bootsnav.navbar-fixed.no-background
  ul
  li
  a:hover::after {
  width: 100%;
}

header
  nav.navbar.border.bootsnav.navbar-fixed.no-background
  .attr-nav
  ul
  li
  a.active::after,
header
  nav.navbar.border.bootsnav.navbar-fixed.no-background
  .attr-nav
  ul
  li
  a:hover::after {
  width: 0;
}

.attr-nav .social.right li {
  margin-left: 20px;
}

.attr-nav .social li a {
  font-size: 16px;
}

/* Navbar */
nav.bootsnav.navbar-default.info-topbar .navbar-header {
  display: none;
}

nav.bootsnav.navbar-default.info-topbar ul li a {
  margin-right: 30px;
  padding: 35px 0;
}

nav.bootsnav.navbar-default.info-topbar.active-full ul li a {
  margin-right: 0;
  padding: 35px 20px;
}

.attr-nav > a.btn-theme.effect:hover,
.attr-nav > a.btn-theme.effect,
.attr-nav > a.btn-theme.effect:focus {
  background: #0cb8b6 none repeat scroll 0 0;
  border: 2px solid #0cb8b6;
  color: #ffffff !important;
}

nav.bootsnav.navbar-default.info-topbar.sticked ul li a {
  margin-right: 30px;
  padding: 35px 0;
}

.attr-nav.social li {
  display: inline-block;
  padding: 25px 0 !important;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.attr-nav.social li a {
  border: 1px solid #f4f4f4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #0cb8b6;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  padding: 0 !important;
  text-align: center;
  width: 40px;
}

nav.navbar.bootsnav.sticked .attr-nav.social li {
  display: inline-block;
  padding: 20px 0 !important;
}

.site-heading h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: #0cb8b6;
  font-size: 20px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.site-heading h4::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 10px;
  width: 100%;
  background: #0cb8b6;
  z-index: -1;
  opacity: 0.1;
}

.site-heading.clean h2 {
  padding-bottom: 0;
}

.site-heading.clean h2 span {
  color: #0cb8b6;
}

.site-heading h2 span {
  color: #0cb8b6;
}

.site-heading.barber h2 span {
  color: #bc9355;
}

.site-heading p {
  margin: 0;
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  position: relative;
  margin-bottom: 0;
  font-size: 36px;
}

.site-heading h2 span {
  color: #0cb8b6;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.site-heading.single {
  margin-bottom: 35px;
}

.heading-left {
  margin-bottom: 60px;
}

.heading-left h2 {
  margin: 0;
  font-weight: 700;
  margin-top: -8px;
  font-size: 36px;
}

.heading-left p {
  margin-top: -8px;
  margin-bottom: 25px;
}

.carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}

@media only screen and (min-width: 1100px) {
  .left-border::before {
    position: absolute;
    left: -30px;
    top: -1%;
    content: "";
    height: 102%;
    width: 100px;
    background: #f4f7fc;
    z-index: -1;
    border-radius: 50px;
  }

  .bg-gray.left-border::before {
    background: #ffffff;
  }

  .right-border::before {
    position: absolute;
    right: -30px;
    top: -1%;
    content: "";
    height: 102%;
    width: 100px;
    background: #f4f7fc;
    z-index: -1;
    border-radius: 50px;
  }

  .bg-gray.right-border::before {
    background: #ffffff;
  }
}

/* ===================================
      # Shape
  ====================================== */

.shape {
  position: relative;
  z-index: 1;
}

.side-bg {
  height: 100%;
  position: absolute;
  left: -30px;
  top: 0;
  width: 30%;
}

.side-bg img {
  left: 0;
  position: absolute;
  top: 60px;
  opacity: 0.7;
}

.side-bg.right {
  height: 100%;
  position: absolute;
  right: -30px;
  left: auto;
  top: 0;
  width: 30%;
}

.side-bg.right img {
  right: 0;
  left: auto;
  position: absolute;
  top: 60px;
  opacity: 0.7;
}

.triangle-shape::after {
  position: absolute;
  right: 10%;
  top: 15%;
  content: "";
  height: 700px;
  width: 500px;
  background: #dce8ff;
  z-index: -1;
  transform: rotate(110deg);
  border-radius: 50px;
  opacity: 0.5;
}

.wavesshape-bottom .waveshape {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-position: center bottom;
}

.wavesshape-bottom .waveshape img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.wavesshape-bottom .waveshape.less-opacity img {
  opacity: 0.007;
}

.rectangular-shape::after {
  position: absolute;
  right: 0;
  bottom: 50px;
  content: "";
  height: 600px;
  width: 600px;
  background: #0cb8b6;
  z-index: -1;
  opacity: 0.08;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(90deg);
}

.rectangular-shape.shape-margin-right::after {
  right: -200px;
  bottom: auto;
  top: 40px;
}

.circular-shape::after {
  position: absolute;
  right: 30px;
  top: 150px;
  height: 500px;
  width: 500px;
  border: 50px solid #0cb8b6;
  content: "";
  z-index: -1;
  opacity: 0.07;
  border-radius: 50%;
}

.border-shape::before {
  position: absolute;
  right: 30px;
  top: 150px;
  height: 500px;
  width: 500px;
  border: 2px dashed #e7e7e7;
  content: "";
  z-index: -1;
  opacity: 1;
  border-radius: 50%;
  animation: rotate-animation 25s infinite linear;
}

/* ============================================================== 
       # Bradcrumb 
  =================================================================== */
.breadcrumb-area {
  padding-top: 160px;
  padding-bottom: 120px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.breadcrumb-area .fixed-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center left;
  z-index: -1;
  opacity: 0.7;
}

.breadcrumb-area h1 {
  font-weight: 700;
}

.breadcrumb-area .breadcrumb {
  background: transparent none repeat scroll 0 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.page-title-area {
  padding: 150px 0;
}

.page-title-area h1 {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: -10px;
  margin-bottom: 0;
}

.breadcrumb-area .breadcrumb li::after {
  content: "";
  font-family: "themify";
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  right: -13px;
  height: 8px;
  width: 8px;
  border: 2px solid #0cb8b6;
  border-radius: 50%;
  top: 12px;
}

.breadcrumb-area .breadcrumb li i {
  margin-right: 5px;
}

.breadcrumb-area .breadcrumb li {
  padding: 0;
  position: relative;
  z-index: 1;
  margin: 0 7px;
  padding: 0 7px;
}

.breadcrumb-area .breadcrumb li:last-child::after {
  display: none;
}

.breadcrumb-area .breadcrumb a,
.breadcrumb-area .breadcrumb li {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
}

.breadcrumb-area .breadcrumb li.active {
  color: #0cb8b6;
  text-decoration: underline;
}

/* ============================================================== 
       # Top Bar 
  =================================================================== */

.top-bar-area {
  padding-bottom: 45px;
  border-bottom: 3px solid #0cb8b6;
  overflow: hidden;
}

.top-bar-area.solid {
  padding-bottom: 0;
}

.top-bar-area .logo {
  position: relative;
  z-index: 1;
}

.top-bar-area .logo img {
  height: 50px;
}

.top-bar-area .logo::after {
  height: 400px;
  width: 500%;
  background: #0cb8b6;
  position: absolute;
  right: 0;
  top: -200px;
  content: "";
  z-index: -1;
}

.top-bar-area .logo a {
  padding: 15px 0;
  display: inline-block;
}

.top-bar-area li {
  display: inline-block;
}

.top-bar-area .text-right .info {
  position: relative;
  z-index: 1;
  padding: 15px 0;
  text-align: left;
  padding-bottom: 7px;
}

.top-bar-area .text-right > .info::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 400%;
  z-index: -1;
}

.top-bar-area .text-right .info {
  display: inline-block;
}

.top-bar-area .text-right .info li {
  margin-left: 17px;
}

.top-bar-area .info li {
  display: flex;
  align-items: center;
  float: left;
}

.top-bar-area .info li i {
  display: inline-block;
  font-size: 26px;
  color: #0cb8b6;
  background: rgba(12, 184, 182, 0.070605);
  height: 55px;
  width: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
}

.top-bar-area .info li .info {
  margin-left: 15px;
  position: relative;
  z-index: 1;
}

.top-bar-area .info li .info span {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: -3px;
  color: #232323;
}

.top-bar-area .info li .info::after {
  position: absolute;
  left: 0;
  top: 20px;
  content: "";
  height: 50px;
  width: 1px;
}

.top-bar-area.inline .info li {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #e7e7e7;
}

.top-bar-area.inline {
  padding: 0;
  border-bottom: 1px solid #e7e7e7;
}

.top-bar-area.inline .info li i {
  height: auto;
  width: auto;
  line-height: inherit;
  background: transparent;
  margin-right: 10px;
}

.top-bar-area.inline .info li:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}

.top-bar-area.inline .text-right .item-flex {
  display: inline-block;
  padding: 15px 0;
  padding-left: 30px;
  position: relative;
  z-index: 1;
}

.top-bar-area.inline .text-right .item-flex::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 1700px;
  z-index: -1;
}

.top-bar-area.inline .text-right li {
  display: inline-block;
  margin-left: 20px;
}

.top-bar-area a.button {
  color: #0cb8b6;
  background: rgba(12, 184, 182, 0.070605);
  display: inline-block;
  padding: 10px 35px;
  border: 2px solid rgba(12, 184, 182, 0.2);
  border-radius: 30px;
}

.top-bar-area.bg-dark a.button {
  color: #ffffff;
  border: 2px solid #0cb8b6;
}

.right-content {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .support {
    padding-right: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      font-size: 15px;
      margin-right: 5px;
    }
  }

  .language-vi {
    cursor: pointer;
    opacity: 0.2;

    &.active {
      opacity: 0.8;
      span {
        color: #ffa500; /* Màu cam pastel */
      }
    }
    &:hover {
      opacity: 0.8;
      color: #ffa500; /* Màu cam pastel */
    }
  }

  .language-en {
    margin: 0 10px;
    cursor: pointer;
    opacity: 0.2;

    &.active {
      opacity: 0.8;
      span {
        color: #ffecb3; /* Màu vàng pastel */
      }
    }
    &:hover {
      opacity: 0.8;
      color: #ffecb3; /* Màu vàng pastel */
    }
  }
}

body,
.banner-area,
.banner-area div {
  height: 100%;
}

.banner-area.auto-height,
.banner-area.auto-height div {
  height: auto;
}

.banner-area .box-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.banner-area .box-table {
  display: table;
  width: 100%;
}

.banner-area .box-cell,
.banner-area .box-cell div {
  height: auto;
}

.banner-area {
  position: relative;
  overflow: hidden;
}

.banner-area .wavesshape {
  bottom: -2px;
  left: 0;
  position: absolute;
  right: 0;
  top: auto;
  width: 100%;
}

.banner-area .wavesshape.shape {
  bottom: -50px;
  height: auto;
}

.banner-area .content {
  position: relative;
  z-index: 9;
}

.banner-area.wavesshape {
  position: relative;
  z-index: 1;
}

.banner-area.triangle-shadow {
  position: relative;
  z-index: 1;
}

.banner-area.triangle-shadow::before {
  border-bottom: 0 solid transparent;
  border-right: 100vw solid #fff;
  border-top: 80px solid transparent;
  bottom: 0;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 101;
}

.banner-area.shadow-inner .content {
  padding: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.banner-area.content-double .double-items {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.banner-area .banner-carousel .owl-item.center img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.banner-area .banner-carousel .owl-item img {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.banner-area.pt-50p {
  padding-top: 50px;
}

.banner-area.text-default .content h2 {
  font-size: 80px;
  margin-bottom: 30px;
  line-height: 1;
}

.banner-area .text-small .content h2 strong {
  display: block;
}

.banner-area .text-small .content h2 {
  font-size: 60px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.banner-area .appoinment-box {
  padding: 80px 50px;
  position: relative;
  z-index: 1;
}

.banner-area .appoinment-box::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: #ffffff;
  z-index: -1;
  opacity: 0.6;
  border-radius: 5px;
}

.banner-area .appoinment-box h2,
.banner-area .appoinment-box h3,
.banner-area .appoinment-box h4 {
  color: #232323;
  font-weight: 600;
  margin-bottom: 30px;
}

.banner-area .appoinment-box form {
  color: #232323;
}

.banner-area .appoinment-box form input,
.banner-area .appoinment-box form .nice-select {
  background: transparent;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 25px;
}

.banner-area .appoinment-box form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #232323;
}
.banner-area .appoinment-box form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #232323;
}
.banner-area .appoinment-box form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #232323;
}
.banner-area .appoinment-box form input:-moz-placeholder {
  /* Firefox 18- */
  color: #232323;
}

.banner-area .appoinment-box button {
  padding: 12px 40px;
  background: linear-gradient(
    90deg,
    rgba(12, 184, 182, 1) 0%,
    rgba(11, 145, 144, 1) 75%
  );
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  width: 100%;
  border: none;
  border-radius: 30px;
}

.banner-area .appoinment-box button i {
  margin-left: 5px;
}

.banner-area.auto-height .content {
  padding: 120px 0;
}

.banner-area.auto-height .thumbs {
  position: relative;
  z-index: 1;
  top: 120px;
}

.banner-area.single-banner .content h2 {
  font-weight: 700;
  font-size: 70px;
  text-transform: capitalize;
  line-height: 1.1;
  margin-bottom: 25px;
}

