$base-size: 16px;
$lh: 1.313;
$fontmain:"Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$colormain:#00bfff;
$colorsub:#ffbf00;
$common-text-color:#f5f5f5;
$common-btn-confirm: #00e1ff;
$common-btn-deny: #ffbf00;
$common-error: #ff8194;
$common-notify:  #00ff00;
$common-green: #00ffb3;
$common-red: #ff0d00;
$common-white:  #f5f5f5;
$common-orange:  #ffcc80;
$border: #ccc;
$text-in-light: #181818;

$input-focus: #ffcc80;

$footer-container: #f5f5f5;
$footer-text: #262626;
$footer-next-disable: #ccc;

$bg-menu-color: #f5f5f5;
$bg-scrollbar: #000;
$bg-table-color: #f5f5f5;
$box-shadow-color: #bdbdbd;

$dropdown-image: url("../assets/images/dropdown.svg");

//date picker
$date-picker-bg: $common-white;
$date-picker-border: darken(#3f4458, 50%);
$date-picker-arrow-hover: $common-orange;
$date-picker-month-fg: #000;
$date-picker-month-bg: $common-white;
$date-picker-weekdays-fg: #000;
$date-picker-weekdays-bg: transparent;
$date-picker-day-fg: #000;
$date-picker-day-hover-bg: darken($common-white, 25%);
$date-picker-today-border: $common-orange;
$date-picker-today-bg: $common-orange;
$date-picker-today-fg: #000;
$date-picker-day-selected-fg: $common-white;