.home-header-container {
  height: 60px;
  width: 100%;
  padding: 0 40px 0 0;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10000;

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;

    .left-content {
      width: 20%;
      display: flex;
      background-color: #add8e6; /* Màu xanh dương pastel */
      align-items: center;

      .header-logo {
        height: 100%;
        width: 100%;
        background: url("../../assets/logo-light.png") center center no-repeat;
        cursor: pointer;
        transform: scale(0.9, 0.9);
        margin-left: -45px;
      }

      i {
        margin-left: 30px;
        font-size: 25px;
        color: #f5f5f5; /* Màu trắng pastel */
        cursor: pointer;
      }
    }

    .center-content {
      margin-left: 100px;
      width: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .child-content {
        .subs-title {
          font-weight: 400;
          font-size: 12px;
        }
      }
    }

    .right-content {
      width: 25%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .support {
        padding-right: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
          font-size: 15px;
          margin-right: 5px;
        }
      }

      .language-vi {
        cursor: pointer;
        opacity: 0.2;

        &.active {
          opacity: 0.8;
          span {
            color: #ffa500; /* Màu cam pastel */
          }
        }
        &:hover {
          opacity: 0.8;
          color: #ffa500; /* Màu cam pastel */
        }
      }

      .language-en {
        margin: 0 10px;
        cursor: pointer;
        opacity: 0.2;

        &.active {
          opacity: 0.8;
          span {
            color: #ffecb3; /* Màu vàng pastel */
          }
        }
        &:hover {
          opacity: 0.8;
          color: #ffecb3; /* Màu vàng pastel */
        }
      }
    }
  }
}

.home-header-banner {
  background: url("./../../assets/img/banner/1.jpg");
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  .content-up {
    background-image: linear-gradient(
      rgba(173, 173, 173, 0.25),
      /* Màu xám pastel */ rgba(245, 245, 245, 0.1) /* Màu trắng pastel */
    );
    padding-top: 15px;
    height: 65%;

    .title-1 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      color: white;
      margin: 30px 0 5px 0;
    }

    .title-2 {
      text-align: center;
      font-size: 30px;
      text-shadow: 1px 1px 1px #333;
      color: white;
      margin: 30px 0 5px 0;
    }

    .search {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 10px;
      border-radius: 25px;
      background-color: #ffecb3; /* Màu vàng pastel */

      i {
        margin: 0 5px;
      }

      input {
        height: 30px;
        width: 360px;
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }

  .content-down {
    height: 35%;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(
      rgba(173, 173, 173, 0.25),
      /* Màu xám pastel */ rgba(245, 245, 245, 0.1) /* Màu trắng pastel */
    );

    .options {
      text-align: center;
      display: flex;
      gap: 50px;
      justify-content: center;

      .option-child {
        width: 100px;

        .icon-child {
          background: #f5f5f5; /* Màu trắng pastel */
          width: 40px;
          height: 40px;
          padding: 10px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;

          i {
            color: #ffa500; /* Màu cam pastel */
            font-size: 20px;
          }
        }

        .text-child {
          font-size: 17px;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            color: #ffa500; /* Màu cam pastel */
          }
        }
      }
    }
  }
}
